// Base
h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
  color: #000;
}

a, p, li {
  font-family: $font-body;
  color: $primary-color;
}

a {
  &:hover {
    text-decoration: none !important;
    color: $link-color !important;
  }
}