@import "normalize";
@include normalize;
@import "base";

.container {
    max-width: 662px;
    margin: auto;
}

//Navigation
.header {
    display: block;
    outline: 1px solid #000;
    width: 100%;
    position: absolute;
    padding-top: 35px;
    padding-bottom: 35px;
    &__logo {
        width: 30%;
        float: left;
    }
}

.__logo {
    
}

.nav {
    text-align: right;
    width: 70%;
    float: right;
}